<launch>

  
  <arg name="car_mode"  default="mini_akm" doc="opt: mini_akm, senior_akm, top_akm_bs, top_akm_dl"/>
<!--
  <node pkg="tf" type="static_transform_publisher" name="base_to_link" args="0 0 0 0 0 0 base_footprint base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="base_to_gyro" args="0 0 0 0 0 0 base_footprint gyro_link 100" />
  
  
  <group if="$(eval car_mode == 'mini_akm')">
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.125 0.00 0.1608 3.14 0 0  base_footprint laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.195 0.00 0.25 0 0 0   base_footprint camera_link 100" />
  </group>
  
  <group if="$(eval car_mode == 'senior_akm')">
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.26 0.00 0.228 3.14 0 0  base_footprint laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.34 0.00 0.32 0 0 0   base_footprint camera_link 100" />
  </group>
 
  <group if="$(eval car_mode == 'top_akm_bs')">
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.53 0.00 0.228 3.14 0 0  base_footprint laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.51 0.00 0.32 0 0 0   base_footprint camera_link 100" />
  </group>
  
  <group if="$(eval car_mode == 'top_akm_dl')">
   <node pkg="tf" type="static_transform_publisher" name="base_to_laser" args="0.497 0.00 0.228 3.14 0 0  base_footprint laser 100" />
   <node pkg="tf" type="static_transform_publisher" name="base_to_camera" args="0.58 0.00 0.32 0 0 0   base_footprint camera_link 100" />
  </group>

  
  <include file="$(find turn_on_wheeltec_robot)/launch/include/base_serial.launch" />
  
  <include file="$(find turn_on_wheeltec_robot)/launch/include/robot_pose_ekf.launch" /> 
-->
 
  <group if="$(eval car_mode == 'mini_akm')">
   <param name = "robot_description" textfile = "$(find wheeltec_robot_urdf)/urdf/mini_akm_robot.urdf"/> 
  </group>
  <group if="$(eval car_mode == 'senior_akm')">
   <param name = "robot_description" textfile = "$(find wheeltec_robot_urdf)/urdf/senior_akm_robot.urdf"/> 
  </group>
  <group if="$(eval car_mode == 'top_akm_bs')">
   <param name = "robot_description" textfile = "$(find wheeltec_robot_urdf)/urdf/top_akm_bs_robot.urdf"/> 
  </group>
  <group if="$(eval car_mode == 'top_akm_dl')">
   <param name = "robot_description" textfile = "$(find wheeltec_robot_urdf)/urdf/top_akm_dl_robot.urdf"/> 
  </group>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

 
  <include file="$(find turn_on_wheeltec_robot)/launch/include/velocity_smoother.launch" />

 </launch>


